@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background: #191C26;
    font-family: 'Mulish', sans-serif;
    color: #A9AFC3;
    font-size: 16px;
}
/**Heading CSS**/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0 0 30px 0
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 22px;
    font-weight: 500
}

/**Hover css**/
a {
    color: #393F54;
    text-decoration: none;
}
a:hover {
    /* transition: 0.5s;*/
    background: linear-gradient(65.49deg, #FCB854 7.03%, #D96534 45.79%, #DC4E4F 73.14%, #DD425D 87.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none;
}
:focus {
    box-shadow: none!important;
}
:focus-visible {
    outline: none !important;
}
/**Listing css**/
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
/**Paragraph CSS**/
p {
    margin: 0 0 20px 0;
    font-size: 14px;
}
/**Button CSS**/
.com-btn{
    padding: 5px 20px;
    color: #fff;
    background: linear-gradient(to right, #FCB854 7.03%, #D96534 45.79%);
    border: 1px solid rgba(252, 184, 84, 1);
    border-color: #D96534 #DD425D;
}
.com-btn:hover{
 background:  transparent;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color:inherit;
    background-clip:inherit;
    text-fill-color:inherit;
    text-decoration: none;
  border: 1px solid rgba(252, 184, 84, 1);
  color: #fff!important;
}
/**Header CSS**/
header {
    width: 100%;
    height: auto;
    left: 0px;
    padding: 15px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#191c26+0,161921+100&0.5+0,0+100 */
    background: -moz-linear-gradient(top, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80191c26', endColorstr='#00161921', GradientType=0); /* IE6-9 */
}
.admin-log {
    width: auto;
    display: inline-block;
    float: right
}
.admin-log li {
    width: 30px;
    margin: 0 0 0 30px;
    float: left;
    position: relative;
}
.admin-log li .home {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("../images/head-spriti-icon.png")no-repeat -3px 0;
    position: relative;
}
.admin-log li .home:hover {
    background-position: -3px -60px
}
.admin-log li .dropdown-menu {
    position: absolute;
    padding: 20px;
    left: inherit!important;
    right: 0;
    top: 35px!important;
    min-width: 220px;
    border-radius: 10px;
    background: #fff;
    transform: inherit!important;
    transition: 0.5s;
}
.admin-log li .dropdown-menu .dropdown-item {
    padding: 0 0 15px 0;
    display: block;
    width: 100%;
}
.admin-log li .admin-circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
    overflow: hidden;
    display: block;
}
.admin-log li .dropdown-menu .admin-box-area {
    display: block;
    line-height: 45px;
}
.admin-box-img {
    width: 45px;
    height: 45px;
    border-radius: 40px;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0
}
.admin-log li .admin-circle img, .admin-box-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.admin-list .dropdown-item {
    padding: 0 0 15px 20px;
}
.admin-list .dropdown-item i {
    width: 25px;
    height: 20px;
    display: inline-block;
    background: url("../images/head-spriti-icon.png")no-repeat 0 0;
}
.admin-list .dropdown-item i.admin-work {
    background-position: -175px 5px
}
.admin-list .dropdown-item:hover i.admin-work {
    background-position: -175px -55px
}
.admin-list .dropdown-item i.admin-acco {
    background-position: -213px 5px
}
.admin-list .dropdown-item:hover i.admin-acco {
    background-position: -213px -55px
}
.admin-list .dropdown-item i.admin-pref {
    background-position: -252px 5px
}
.admin-list .dropdown-item:hover i.admin-pref {
    background-position: -252px -55px
}
.admin-list .dropdown-item i.admin-prev {
    background-position: -288px 5px
}
.admin-list .dropdown-item:hover i.admin-prev {
    background-position: -288px -55px
}
.admin-list .dropdown-item i.admin-logout {
    background-position: -329px 5px
}
.admin-list .dropdown-item:hover i.admin-logout {
    background-position: -329px -55px
}
/**dash-md-section CSS**/
.dash-md-section {
    width: 100%;
    padding: 50px 0 0 120px;
    display: block
}
.dash-md-section .title {
    width: auto;
}
.dash-md-section .title strong {
    transition: 0.5s;
    background: linear-gradient(65.49deg, #FCB854 7.03%, #D96534 45.79%, #DC4E4F 73.14%, #DD425D 87.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none
}
.dash-md-section .title p {
    width: 70%;
}
.search-area {
    width: auto;
    float: right;
    margin: 80px 0 0 0;
}
.search-area li {
    width: auto;
    margin: 0 15px 0 0;
    float: left
}
.search-area li:last-child {
    margin: 0;
}
.search-area li .search-input-box {
    min-width: 350px;
    width: 100%;
    height: 50px;
    padding: 2px;
    display: inline-block;
    position: relative;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(65.49deg, #FCB854 0%, #D96534 47.91%, #DC4E4F 81.71%, #DD425D 100%);
}
.search-area li .search-input-box .form-control {
    padding: 15px;
    background: #191c26;
    width: 100%;
    border: 0;
    border-radius: 30px;
    height: 100%;
    color: #fff;
    text-transform: uppercase
}
.search-area li .btn-list {
    width: 25px;
    height: 40px;
    display: block;
    background: url("../images/head-spriti-icon.png")no-repeat -67px 15px;
}
.search-area li .btn-list:hover, .search-area li .btn-list.active  {
    background-position: -67px -46px
}
.search-area li .btn-grid {
    width: 25px;
    height: 40px;
    display: block;
    background: url("../images/head-spriti-icon.png")no-repeat -123px 11px;
}
.search-area li .btn-grid:hover, .search-area li .btn-grid.active  {
    background-position: -123px -49px
}

/**Grid Section CSS**/
.grid-container{
    margin: 50px auto 
}
.grid-container .card {
  margin-bottom: 30px;
    border: 0;
    border-radius: 0;
    background:none;
    position: relative;
    overflow: hidden;
}
.grid-container .card:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #111319 100%);
}
.grid-container .card-body{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.grid-container .card-title{
    font-size: 18px;
}
.list-view .row > [class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
}
.list-view .card {
  flex-direction: row;
}

.list-view .card > .card-img-top {
  width: auto;
    max-width: 300px;
}
.list-view .card .card-body {
  display: inline-block;
    position: relative
}
/**Footer CSS**/
.footer {
  background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #111319 76.56%);
  padding: 0;
  font-size: 14px;
}
.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}
.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
}
.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}
.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #4154f1;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
  margin-right: 6px;
}
.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
    margin-bottom: 0;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #A9AFC3;
}
.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #012970;
}
.footer .footer-top h4 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #A9AFC3;
}
.footer .footer-top .footer-contact p {
    padding: 0px 0;
    display: flex;
    align-items: center;
    color: #A9AFC3;
    line-height: 26px;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer-top .container {
    border-top: 1px solid #3A3F50;
    padding: 40px 0 0;
}
.anim-slide {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes slideUpIn {
    0% {
      -webkit-transform: translateY(30px);
    }
    100% {
      -webkit-transform: translateY(0);
    }
    0% {
      -webkit-transform: translateY(30px);
    }
  }
  @keyframes slideUpIn {
    0% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(30px);
    }
  }
  .slideUpIn {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
  }