@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background: #191C26;
    font-family: 'Mulish', sans-serif;
    color: #A9AFC3;
    font-size: 16px;
}
/**Heading CSS**/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0 0 30px 0
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 22px;
    font-weight: 500
}
/**Hover css**/
a {
    color: #393F54;
    text-decoration: none;
}
a:hover {
    /* transition: 0.5s;*/
    background: linear-gradient(65.49deg, #FCB854 7.03%, #D96534 45.79%, #DC4E4F 73.14%, #DD425D 87.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none
}
:focus {
    box-shadow: none!important;
}
:focus-visible {
    outline: none !important;
}
/**Listing css**/
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
/**Paragraph CSS**/
p {
    margin: 0 0 20px 0;
    font-size: 14px;
}
/**Header CSS**/
header {
    width: 100%;
    height: auto;
    left: 0px;
    padding: 15px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#191c26+0,161921+100&0.5+0,0+100 */
    background: -moz-linear-gradient(top, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25, 28, 38, 0.5) 0%, rgba(22, 25, 33, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80191c26', endColorstr='#00161921', GradientType=0); /* IE6-9 */
}
.admin-log {
    width: auto;
    display: inline-block;
    float: right
}
.admin-log li {
    width: 30px;
    margin: 0 0 0 30px;
    float: left;
    position: relative;
}
.admin-log li .home {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("../images/head-spriti-icon.png")no-repeat -3px 0;
    position: relative;
}
.admin-log li .home:hover {
    background-position: -3px -60px
}
.admin-log li .dropdown-menu {
    position: absolute;
    padding: 20px;
    left: inherit!important;
    right: 0;
    top: 35px!important;
    min-width: 220px;
    border-radius: 10px;
    background: #fff;
    transform: inherit!important;
    transition: 0.5s;
}
.admin-log li .dropdown-menu .dropdown-item {
    padding: 0 0 15px 0;
    display: block;
    width: 100%;
}
.admin-log li .admin-circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
    overflow: hidden;
    display: block;
}
.admin-log li .dropdown-menu .admin-box-area {
    display: block;
    line-height: 45px;
}
.admin-box-img {
    width: 45px;
    height: 45px;
    border-radius: 40px;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0 15px 0 0
}
.admin-log li .admin-circle img, .admin-box-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.admin-list .dropdown-item {
    padding: 0 0 15px 20px;
}
.admin-list .dropdown-item i {
    width: 25px;
    height: 20px;
    display: inline-block;
    background: url("../images/head-spriti-icon.png")no-repeat 0 0;
}
.admin-list .dropdown-item i.admin-work {
    background-position: -175px 5px
}
.admin-list .dropdown-item:hover i.admin-work {
    background-position: -175px -55px
}
.admin-list .dropdown-item i.admin-acco {
    background-position: -213px 5px
}
.admin-list .dropdown-item:hover i.admin-acco {
    background-position: -213px -55px
}
.admin-list .dropdown-item i.admin-pref {
    background-position: -252px 5px
}
.admin-list .dropdown-item:hover i.admin-pref {
    background-position: -252px -55px
}
.admin-list .dropdown-item i.admin-prev {
    background-position: -288px 5px
}
.admin-list .dropdown-item:hover i.admin-prev {
    background-position: -288px -55px
}
.admin-list .dropdown-item i.admin-logout {
    background-position: -329px 5px
}
.admin-list .dropdown-item:hover i.admin-logout {
    background-position: -329px -55px
}
/**dash-md-section CSS**/
.dash-md-section {
    width: 100%;
    padding: 50px 0 50px 50px;
    display: block
}
.dash-md-section .title {
    width: auto;
}
.dash-md-section .title strong {
    transition: 0.5s;
    background: linear-gradient(65.49deg, #FCB854 7.03%, #D96534 45.79%, #DC4E4F 73.14%, #DD425D 87.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none
}
.dash-md-section .title p {
    width: 70%;
}
.search-area {
    width: auto;
    float: right;
    margin: 80px 0 0 0;
}
.search-area li {
    width: auto;
    margin: 0 0 0 15px;
    float: left
}
.search-area li .search-input-box {
    min-width: 350px;
    width: 100%;
    height: 50px;
    padding: 2px;
    display: inline-block;
    position: relative;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(65.49deg, #FCB854 0%, #D96534 47.91%, #DC4E4F 81.71%, #DD425D 100%);
}
.search-area li .search-input-box .form-control {
    padding: 15px;
    background: #191c26;
    width: 100%;
    border: 0;
    border-radius: 30px;
    height: 100%;
    color: #fff;
    text-transform: uppercase
}
.search-area li .list-view {
    width: 25px;
    height: 40px;
    display: block;
    background: url("../images/head-spriti-icon.png")no-repeat -67px 15px;
}
.search-area li .list-view:hover {
    background-position: -67px -46px
}
.search-area li .grid-view {
    width: 25px;
    height: 40px;
    display: block;
    background: url("../images/head-spriti-icon.png")no-repeat -123px 11px;
}
.search-area li .grid-view:hover {
    background-position: -123px -49px
}
